<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#064420"/>
    <title>Home | LTI</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body onload="preloadering()">
<div id="loading"></div>


    <%- include('./partials/header'); -%>

        <div class="parallex">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">

                        <h2>Feel the motivation and adventure</h2>
                        <h1 class="gradient">LIVE TALK ISM</h1>
                        <p>" Nothing can be more exciting than meeting new people, hearing their stories and getting inspired "</p>
                    </div>
                </div>

            </div>
        </div>


        <!-- About Club Section  -->

        <div class="about-us-section" id="about-section">
            <div class="container ">
                <h2 class="heading" style="color: rgb(10, 82, 4);">Who we are </h2> 
                <div class="contents">
                    <p>
                        <strong> LiveTalksISM includes entertainment as well as leaves a roadmap for the young
                            minds.</strong>
                        podcast show exclusively for IIT ISM people featuring conversations
                        with
                        professors, alumni and students on their life experiences and stories about IIT ISM and also the
                        audience will be getting to know what are the right things one should do in their college life
                        to
                        make it more memorable and useful. This podcast will also feature talk sessions with famous
                        celebrities and influencers, wherein they get to share some of their amazing life experiences
                        and learnings.
                    </p>
                    <p> As part of our future expansion plan we also plan to identify prevalent issues in society,
                        advancements in tech, problems of students and do a podcast with relevant experts or
                        professors.Shortly we plan to launch.founders unfiltered series where we'll be bringing founders
                        of enterprises from our own college as well as other colleges and engage in a freewheeling chat
                        about their journey and their stories.</p>
                    <p> Overall it's supposed to be a free flowing conversation which
                        offers a mix of <strong>entertainment,
                            information and inspiration</strong> to our listeners. </p>

                    <!-- <br><br><strong> Our Social Media
            handles:</strong><br>
        <div><i class="bi bi-instagram"></i> Instagram - <a
                href="https://www.instagram.com/_livetalksism_/">@_livetalks_ism</a></div>
        <div><i class="bi bi-facebook"></i> Facebook - <a
                href="https://www.facebook.com/livetalksISM/posts">Live Talks ISM</a></div>
        <div><i class="bi bi-youtube"></i> Youtube - <a
                href="https://www.youtube.com/channel/UCGXQkO9x8BCkPolMsnzGWqg">LiveTalksISM</a></div> -->
                </div>
            </div>
        </div>

        <div class="ltishow-section">
            <div class="container">
                <h2 class="heading">Our Popular Show </h2>
                <div class="row">
                    <div class="col-lg-4" id="showItem">
                        <img src="/img/saturaday suspense.jpeg" alt="show pic" id="showImage">
                    </div>
                    <div class="col-lg-8" id="showItem">
                        <h3 id="showName">Saturday Suspense</h3>
                        <p id="showPara">livetalksISM, the energised and the most enlightened club of IIT(ISM) DHANBAD has always been ecstatic and motivated to unfold stories, experiences and realities. 
                            It's always have been very exciting and grateful to know peoples opinion and open them to our dear viewers. With full potential uncovering glimpse of our show <strong>Saturday Suspense.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Grid section  -->

        <div class="grid-section">

            <h2 class="heading">Our Recent guests </h2>
            <div class="container">
                <div class="row">
                    <% guestsItem.forEach(function(item){ %>
                        <div class="col-lg-3 col-md-6" style="padding: 25px;" id="guestItems">
                            <div class="box">
                                <div class="imgBox">
                                    <img src="../uploads/<%= item.guest_img  %> " alt="guest image"  style="height: 150px; width: 150px; border-radius: 75px; text-align:center;">
                                </div>
                                <div class="description">
                                    <h2 id="guest-name">
                                        <%= item.username %>
                                    </h2>
                                    <div class="about-guest">
                                        <p>
                                            <%= item.profession %>
                                        </p>
                                    </div>
                                    <div class="podcastLink">
                                        <a href="<%= item.podcastLink  %>"><i class="fas fa-podcast"></i>Watch
                                            Podcast</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <div class="allguestbtn">
                    <a href="/all_guest"><i class="fas fa-border-all"></i> All Guests</a>
                </div>
            </div>
        </div>

        <!-- video clip section  -->
        <div class="video-clip-section">
            <h2 class="heading" style="color: currentcolor;">Moments </h2>
            <div class="row">
                <div class="col-lg-6" id="VideoItem">
                    <iframe id="videoClip" width="420" height="345"
                        src="https://www.youtube.com/embed/cyzCmbhUoZY?autoplay=0&mute=1">
                    </iframe>
                </div>
                <div class="col-lg-6" id="VideoItem">
                    <iframe id="videoClip" style="border-radius: 10px;" width="420" height="345"
                        src="https://www.youtube.com/embed/biBndDKELm8?autoplay=0&mute=1&loop=1">
                    </iframe>
                </div>

            </div>
        </div>
        <%- include('./partials/footer'); -%>


        <script>
            const loading =document.getElementById("loading");
           function preloadering(){
            loading.style.display = 'none';
           }
        </script>
</body>

</html>